<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="index.html">
							<img src="assets/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home" id="home-nav">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="#services" id="services-nav">
											SERVICES
										</a>
									</li>
									<li><!-- WORK -->
										<a href="#portfolio" id="portfolio-nav">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news" id="news-nav">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients" id="clients-nav">
											CLIENTS
										</a>
									</li>

									<li><!-- CONTACT -->
										<a href="#contact" id="contact-nav">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>