            <div class="slider fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Live comfortably">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_122227340.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:40px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Living at home means living comfortably. 
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="50"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Makes it as comfortable as it can be by building a quality elevator <br />
									
							</div>

						</li>
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Never run late">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_42622540.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Never Wait <br />
									In Elevator Again
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Our elevator will make sure you never run <br />
									late on anything.
							</div>

							
						</li>


						<!-- SLIDE  -->
						

					</ul>

				</div>
			</div>
			<hr class="m-0" />
			<div class="container">
				<h1>Cable-driven Elevator</h1>
				Cable-driven elevators cost between $15,000 and $35,000 on average. In a cable-driven elevator, a cable is wound around a turning drum, which raises and lowers the elevator. This drum requires significant space in addition to the shaft but has a relatively small footprint 1 1 overall. It is most commonly used in new builds but can be added to existing homes easily. They are similar to the elevators you find in office buildings, hotels, and other commercial buildings, requiring a mechanical room to operate. A drawback is the cable can break, requiring a replacement schedule every five years.
				<h1>Cost of Hydraulic Lift for Home</h1>
				On average, a hydraulic type of elevator for the home will cost $22,000 to $53,000. With a hydraulic elevator, you have a piston that moves inside a cylinder to power the elevator and control its motion. Since the entire power system for these elevators is inside the shaft, they do not need a separate mechanical or machine room. Plus, the controller is compact, easily fitting inside a little cabinet on the wall beside the elevator. There are two hydraulic systems: holed and holeless. Holed systems need the cylinder to go down into the ground, so they require the construction of a pit, while holeless systems do not need a pit. Cables need replacement every five years to remain operational.
				<h1>Geared Traction Elevator Cost</h1>
				Geared traction elevators cost in the range from $25,000 to $38,000 for home models. To operate, the motor has a gearbox attached to it and uses a pulley system to lift and lower the cab. Geared traction elevators have a slower speed than gearless types and travel a maximum of 250 feet. A key benefit of geared traction elevators is the type has low energy consumption levels.
				<h1>Chain-driven Elevator</h1>
				On average, a chain-driven elevator costs $27,000 to $62,000. In chain-drive elevators, a counterweight attached to a chain travels in the opposite direction of the elevator car. This requires the shaft to be much larger, although it does not need a separate motor room like the cable-driven elevator does, saving space in the home. They function similarly to cable-driven elevators, but the chains are stronger than cables. This elevator is more durable and longer-lasting, requiring less maintenance and fewer repairs. However, they are loud to operate, making them not suitable for most residential elevator projects.
				<h1>Gearless Traction Elevator</h1>
				Gearless traction elevators cost the homeowner from $29,000 to $55,000 on average. Gearless traction elevators work by moving along a track, with a counterweight system that works to raise and lower the elevator. They are one of the best options for existing homes, rather than new builds, since they do not take up much space and have no need for pits or mechanical rooms. They require extra space at the top of the elevator, however, to store the mechanical parts responsible for moving the elevator. Most private residences may not be able to use this type of elevator, making it a preferred choice for commercial projects.
				<h1>Pneumatic Elevator Cost</h1>
				Pneumatic elevators tend to be the most expensive home elevator, costing between $35,000 and $60,000. Pneumatic elevators use a vacuum tube to pull the car up or down. They take up the least space but are highly visible. When it comes to pneumatic home elevators, there is no need for a pit or machine room, which makes them relatively simple to retrofit into homes. A drawback would be that the elevator can’t be hidden and must remain highly visible in the home.
				<br>
				<br>
				<a class="btn btn-default btn-lg" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a>
			</div>
			<br>
			 
			<hr class="m-0" />
			