
			<div class="slider fullwidthbanner-container roundedcorners">	
            
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Time efficient">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_122227340.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:40px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Don't wait for a single second at the office. 
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="50"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Increase productivity by decreasing elevator waiting time now. <br />
									
							</div>

						</li>
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Safety for employees">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_42622540.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Safety is our biggest priority <br />
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                                Employees are safe in our hands.
							</div>

							
						</li>


						<!-- SLIDE  -->
						

					</ul>

				</div>
				
			</div>
			<div class="container">
				
					<h1>Different Commercial Elevator Options </h1>
					It doesn’t matter what type of commercial space you own; chances are, you need a commercial elevator.

					With all of the new designs springing up, it can be challenging to make a choice. Whether you need an in-line, front-and-rear, or our innovative front-and-side elevator, Duravator has you covered. 

					Our different types of elevator designs follow all regulations. The observance of these regulations gives your commercial space the best legal option. 

					<h1>Different Types of Commercial Elevators</h1>
					A brief description of each of the types of commercial elevators will better equip you to understand commercial elevator cost.

					Most elevators are either passenger or freight elevators. These types of elevators are either hydraulic, traction, or machine room-less elevators. 

					<h2>Passenger Elevators </h2>
					Passenger elevators’ job is to transport passengers in commercial buildings. Large buildings with sky lounges may benefit from an express passenger elevator that takes passengers to the top. Passenger elevators can either be hydraulic or machine room-less elevators. 

					<h2>Freight Elevators </h2>
					Freight elevators don’t carry people; they carry freight. These are especially useful for large products, furniture, and other heavy objects. Freight elevators have rugged interiors to protect the elevator from any damage. 

					<h2>Hydraulic Elevators</h2>
					Hydraulic elevators use pistons to move a cylinder. Hydraulic elevators are most often used for commercial spaces that have a lower number of floors. But hydraulic elevators can’t be used in buildings with over eight floors. 

					<h2>Traction Elevators </h2>
					Traction elevators operate with steel belts and a pulley system. Traction elevators are one of the first elevator designs, and also one of the longest-lasting. 

					<h2>Machine Room-Less </h2>
					MRL elevators are precisely what the name suggests: elevators without a machine room. These types of elevators can either be traction or hydraulic elevators, and people who need to save space favor their utility.

					<h1>Commercial Elevator Sizes</h1>
					Your commercial elevator cost depends in large parts on what you need the elevators for, and how many you need. For example, if your commercial space requires a ton of freight transport, your cost will reflect the added need.

					If your commercial space only needs a few passenger elevators, your cost will also reflect those needs. The type of elevator and the size of the elevator you install also depends on your budget, requirements, and space. 
					<br>
					<br>
					<a class="btn btn-warning" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a>
			</div>
			<br>
        
