<div class="slider fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Our Slogan">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_122227340.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Our Slogan
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="50"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Elevate safety, speed and style <br />
									
							</div>



							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="50"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-blue btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="300"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-blue btn-lg" href="quote.html">OUR QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residental Elevator">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_42622540.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Your Safety <br />
									Our Duty
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Tenants deserve better elevator experience, <br />
									our team will accomodate.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-blue btn-lg" href="residential.html">OUR RESIDENTIAL SERVICE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							
						</li>


						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporation Elevator">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_103570025.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Your Corporation <br />
									Our Obligation
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									If you want your employees to enjoy the best experience, <br />
									our team is the best in this field.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-blue btn-lg" href="commercial.html">OUR CORPORATION SERVICE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>


						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->

			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">

							<h3 class="mt-10">Our Pride</h3>
							<p>Our company has won numerous awards as well as participated in many major projects. Click to find out more.</p>
							<a href="#portfolio" class="btn btn-default">Our Portfolio</a>
						</div>

						<div class="col-sm-4">
							<h3 class="mt-10">Our Residential Service</h3>
							<p>Tenants are always pleased with our serice. Hundreds have hired us to build for their buildings. Click to find out more.</p>
							<a href="residential.html" class="btn btn-default">Our Residential Service</a>
						</div>

						<div class="col-sm-4">
	
							<h3 class="mt-10">Our Corporation Service</h3>
							<p>Companies, big or small, trusted us to do their elevators. Every one of them was satisfied with the result. Click to find out more.</p>
							<a href="commercial.html" class="btn btn-default">Our Corporation Service</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->


			
			<hr class="m-0" />
			

			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/AdobeStock_72034307.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300"> Building elevators since 1976</h2>
						<a class="btn btn-default btn-lg" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-default btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="corporation" class="filter"><a href="#">Corporation</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_72034307.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_72034307.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>3495 Rue Saint Dominique Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">First Place $2000</a></li>
											<li><a href="#">Montreal's Elevator Contest 2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporation"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_53477661.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_53477661.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>Bell Ste Catherine Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Major Project</a></li>
											<li><a href="#">Bell Corporation</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporation"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_33298664.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_33298664.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>Siemens Montreal Headquarter</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Major Project</a></li>
											<li><a href="#">Siemens Corporation</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_33975620.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_33975620.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>1233 3e Avenue Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Second Place $900</a></li>
											<li><a href="#">Modern Elevator Design 2018</a></li>
										</ul>
									</div>

								</div>

							</div>
							<!-- SECOND PART -->
							<div class="col-md-3 col-sm-3 mix corporation"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_103570025.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_103570025.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>Ubisoft Montreal Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Major Project</a></li>
											<li><a href="#">Ubisoft Corporation</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							


							<div class="col-md-3 col-sm-3 mix corporation"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_122227340.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_122227340.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>Roger Montreal Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Major Project</a></li>
											<li><a href="#">Roger Corporation</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_124493370.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_124493370.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>95 Sheerbrooke Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">First Place $1500</a></li>
											<li><a href="#">Modern Elevator Design 2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporation"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/AdobeStock_179073967.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/AdobeStock_179073967.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>Coveo Montreal Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Major Project</a></li>
											<li><a href="#">Coveo</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
							<!-- THIRD PART -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/liftsafety_blogbanner-23.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/liftsafety_blogbanner-23.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>24 Atwater</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">First Place $400</a></li>
											<li><a href="#">Safest Elevator Design 2019</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/elevator.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/elevator.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>500 Rue De Verdun</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Third Place $2000</a></li>
											<li><a href="#">Innovative Elevator Design</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/elevator2.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/elevator2.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>200 Sheerbrooke Building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Second Place $900</a></li>
											<li><a href="#">Modern Elevator Design 2014</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/elevator3.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												

											</span>
										</span>

										<img class="img-fluid" src="assets/elevator3.jpeg" width="600" height="399" alt="" style="height: 300px;">
									</figure>

									<div class="item-box-desc">
										<h3>300 Wellington Street</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">First Place $500</a></li>
											<li><a href="#">Modern Elevator Contest</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Team -->
			<section id ="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial" id ="CEO"	>
							<figure>
								<img class="rounded" src="assets/ceo.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Our talented CEO</p>
								<cite>
									Emmanuella Derilus
									<span>Rocket Elevator Ltd.</span>
								</cite>
							</div>
						</div>
						<div class="testimonial" id="employee">
							<figure>
								<img class="rounded" src="assets/employee-of-the-month.png" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Our Employee of The Month</p>
								<cite>
									Long Nguyen
									<span>Rocket Elevator Ltd.</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<!-- new 1 -->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://newjerseyglobe.com/governor/elevator-constructors-union-backs-murphy/">
								<img class="img-fluid" src="https://38golu1f1ik01c9tej2um08s-wpengine.netdna-ssl.com/wp-content/uploads/2021/09/Elevator-Constructors-Local-One.jpg" alt="" style="height: 200px;">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Elevator Constructors Union Backs Murphy</a></h4>
							<p class="text-left">“Governor Murphy’s support for organized labor, his support for the elevator/escalator/moving walks (EEMW) licensing and appointments to this committee will protect every person in New Jersey that rides an EEMW,” said Denis Kilduff, the union’s vice president and business agent.”</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<!-- new 2 -->
						<div class="img-hover">
							<a href="https://www.globenewswire.com/news-release/2021/09/21/2300448/0/en/The-Global-Smart-Elevator-Market-is-expected-to-grow-by-5-14-bn-during-2021-2025-progressing-at-a-CAGR-of-8-14-during-the-forecast-period.html">
								<img class="img-fluid" src="https://elevatortoday.com/wp-content/uploads/2021/05/KONE-Lane_Red-Dot-Awards-2021_01-1068x924.jpg" style="height: 200px;" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">The Global Smart Elevator Market is expected to grow by $ 5.14 bn during 2021-2025</a></h4>
							<p class="text-left">LGlobal Smart Elevator Market 2021-2025 The analyst has been monitoring the smart elevator market and it is poised to grow by $ 5. 14 bn during 2021-2025, progressing at a CAGR of 8.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<!-- new 3 -->
						<div class="img-hover">
							<a href="https://press.thebig5.ae/exhibitor-news-french-elevator-manufacturer-sodimas-gears-up-to-participate-in-the-big-5-show">
								<img class="img-fluid" src="https://cdn.uc.assets.prezly.com/5a257482-a429-4d4d-9dba-1afbd9166be4/-/crop/2624x1180/0,232/-/preview/-/resize/1108x/-/quality/best/-/format/auto/" style="height: 200px;" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">French elevator manufacturer Sodimas gears up to participate in The Big 5 show</a></h4>
							<p class="text-left">Sodimas Lifts, a leading independent French manufacturer of elevators, is gearing up to participate in the upcoming edition of The Big 5 Show, the largest construction and contracting fair in the Middle East.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<!-- new 4 -->
						<div class="img-hover">
							<a href="https://www.fool.com/investing/2021/08/24/3-reasons-to-buy-otis-stock/">
								<img class="img-fluid" src="https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/639768/escalator.jpg&w=2000&op=resize" style="height: 200px;" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">3 Reasons to Buy Otis Stock</a></h4>
							<p class="text-left">The leading elevator company is firing on all cylinders right now. The three highly interconnected reasons are all based on the fact that Otis is ostensibly focused on its service business. While its equipment business is higher-profile, servicing the installed equipment makes more money.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<!-- new 5 -->
						<div class="img-hover">
							<a href="https://rojakdaily.com/news/article/12787/tokyo-subway-station-becomes-first-in-city-to-install-inclined-elevator">
								<img class="img-fluid" src="https://d3avoj45mekucs.cloudfront.net/rojakdaily/media/suganya/hantu/untitled-design-(5).png?ext=.png" style="height: 200px;" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="blog-single-default.html">Tokyo Subway Station Becomes First In City To Install Inclined Elevator</a></h4>
							<p class="text-left">Trust Japan to come up with innovative inventions.
								A Tokyo subway station has become the first in the city to install an inclined elevator.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<!-- new 6 -->
						<div class="img-hover">
							<a href="https://www.heraldstaronline.com/news/community/2021/09/elevator-project-is-under-way-at-wellsburg-church-add/">
								<img class="img-fluid" src="https://www.heraldstaronline.com/wp-content/uploads/2021/09/St.-John-elevator-groundbreaking-web-871x840.jpg" style="height: 200px;" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="blog-single-default.html">Elevator Project is under way at Wellsburg church</a></h4>
							<p class="text-left"> Local officials joined church leaders at St. John the Evangelist Catholic Church to break ground for an elevator that will allow easier access from the church’s nave and its social hall downstairs..</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								<li>
									<a href="blog-single-default.html#comments">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						
					</div>

				</div>
			</section>
			<!-- /News -->




			<!-- Overview -->
			<!-- <section id="overview">
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-8">
							<img src="demo_files/images/laptop.png" alt="product image" />
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300">Quick <span>Overview</span></h3>
						
							<p>Lorem ipsum dolor sit amet, hinc dolores noluisse at vel, ex quod aperiri scaevola has, cum te sanctus denique. Eu liber docendi petentium has, labore.</p>
							<p>Etiam falli mentitum id mel, ut mel sumo postulant referrentur. At has minim imperdiet, soluta offendit ocurreret sea an. </p>
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> Nobis nemore epicuri pro ea</li>
								<li><i class="fa fa-check"></i> Qui dicunt singulis dissentias an</li>
								<li><i class="fa fa-check"></i> Ea vis diceret constituam</li>
								<li><i class="fa fa-check"></i> Mei no autem idque integre, sumo facilis</li>
								<li><i class="fa fa-check"></i> Est quodsi labitur moderatius an</li>
							</ul>

						</div>
					</div>

				</div>
			</section> -->
			<!-- /Overview -->





			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.bell.ca/">
								<img class="img-fluid" src="assets/bell logo.png" alt="client" style="height: 130px;"/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.ubisoft.com/en-us/company/careers/locations/montreal/ubisoft-canada">
								<img class="img-fluid" src="assets/Ubisoft_logo.svg" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.ea.com/sports">
								<img class="img-fluid" src="assets/ea sport logo.png" style="height: 130px;" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://blnts.com/pages/luckybrand-canada">
								<img class="img-fluid" src="assets/lucky logo.png" style="height: 130px;" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.rogers.com/">
								<img class="img-fluid" src="assets/Rogers logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.fido.ca/">
								<img class="img-fluid" src="assets/Fido logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="walmart.ca">
								<img class="img-fluid" src="assets/walmart logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.canadiantire.ca/en.html">
								<img class="img-fluid" src="assets/canadian tire logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.stm.info/fr">
								<img class="img-fluid" src="assets/stm logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.couche-tard.com/">
								<img class="img-fluid" src="assets/couche tard logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.timhortons.com/">
								<img class="img-fluid" src="assets/tim horton logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.dell.com/en-ca">
								<img class="img-fluid" src="assets/dell logo.png" alt="client" style="height: 130px;" />
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">We answer in 24 bussiness hour</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<form enctype="multipart/form-data" action="/create_leads" method="POST">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input id="name" required type="text" value="" class="form-control" name="full_name">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input id="email" required type="email" value="" class="form-control" name="email">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input id="phone" type="text" value="" class="form-control" name="phone">
											</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<label for="contact:name">Company Name *</label>
											<input id="company_name" required type="text" value="" class="form-control" name="company_name">
										</div>
										<div class="col-md-4">
											<label for="contact:name">Project Name *</label>
											<input id="project_name" required type="text" value="" class="form-control" name="project_name" >
										</div>
										
											
											
									</div>
									<div class="row">
										<div class="col-md-8">
											<label for="contact:subject">Project Description *</label>
											<input id="project_description" required type="text" value="" class="form-control" name="project_description">
										</div>
										<div class="col-md-4">
											<label for="contact_department">Department</label>
											<select id="department" class="form-control pointer" name="department_in_charge_of_the_elevators">
												<option value="">--- Select ---</option>
												<option value="Marketing">Marketing</option>
												<option value="Webdesign">Webdesign</option>
												<option value="Architecture">Architecture</option>
											</select>
										</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea id="message" required maxlength="10000" rows="8" class="form-control" name="message" ></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="attachment" name="contact_attachment_file" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<div id="map2" class="h-400 grayscale">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11194.06354771489!2d-73.5671205!3d45.4594108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x852cd133f4fe32e9!2sCodeBoxx!5e0!3m2!1sen!2sca!4v1633011020893!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-555-1234">(418) 555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@***REMOVED***.biz">info@***REMOVED***.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->