<hr class="m-0" />
            <form id="myForm" method = "post" action = "/create_quotes">
            
                <div class="form-group" id="email-id">
                    <label>Email *</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
                <div class="form-group" id="company_name-id">
                    <label>Company name *</label>
                    <input class="form-control" type="text" id="company_name" name="company_name">
                </div>
                <div class="form-group">
                    <label for="building_type">Building Type * </label>
                    <select id="building_type" name="building_type" class="form-control" onchange = "selectChanged()">
                        <option>Select</option>
                        <option id="residential" value="residential">Residential</option>
                        <option id="commercial" value="commercial">Commercial</option>
                        <option id="corporate" value="corporate">Corporate</option>
                        <option id="hybrid" value="hybrid">Hybrid</option>
                    </select>
                </div>
                
                <div class="form-group input" id="number-of-floors" hidden>
                    <label>Number of floors *</label>
                    <input class="form-control" type="number" id="number-of-floors-1" name="amount_floors"  oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="number-of-basements" hidden>
                    <label>Number of basements *</label>
                    <input class="form-control" type="number" id="number-of-basements-1" name="amount_basements" oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="number-of-parking-spots" hidden>
                    <label>Number of parking spots *</label>
                    <input class="form-control" type="number" id="number-of-parking-spots-1" name="amount_parking_spots" oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="maximum-occupancy" hidden>
                    <label>Maximum occupancy *</label>
                    <input class="form-control" type="number" id="maximum-occupancy-1" name="maximum_occupancy" oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="number-of-apartments" hidden>
                    <label>Number of apartments *</label>
                    <input class="form-control" type="number" id="number-of-apartments-1" name="amount_apartments" oninput="calculateElevators()">
                </div>
                <div class="form-group input" id="number-of-companies" hidden>
                    <label>Number of companies *</label>
                    <input class="form-control" type="number" id="number-of-companies-1" name="amount_companies" oninput="calculateElevators()">
                </div>
                <div class="form-group input" id="number-of-elevators" hidden>
                    <label>Number of elevators *</label>
                    <input class="form-control" type="number" id="number-of-elevators-1"  oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="number-of-corporations" hidden>
                    <label>Number of corporations *</label>
                    <input class="form-control" type="number" id="number-of-corporations-1" name="amount_corporations" oninput="calculateElevators()">
                </div>
                <div class="form-group input"  id="business-hours" hidden>
                    <label>Business hours *</label>
                    <input class="form-control" type="number" max = "24" min = "0" id="business-hours-1" name="bussiness_hoursc" oninput="calculateElevators()">
                </div>
                
                <div id="amount_elevators" class="form-group">
                    <label>Number of elevators: </label>
                    <input name="amount_elevators" class="form-control" readonly>
                </div>
                
                <div id="price-calculation" hidden>
                    <div id="radio" class="form-check">
                        <label class="form-check-label">Please select your range of elevator:</label><br>
                        <input class="form-check-input" type="radio" id="standard" name="product_line" value="standard" onchange="radioButtonClicked(this)">
                        <label class="form-check-label" for="standard">Standard</label><br>
                        <input class="form-check-input" type="radio" id="premium" name="product_line" value="premium" onchange="radioButtonClicked(this)">
                        <label class="form-check-label" for="premium">Premium</label><br>
                        <input class="form-check-input" type="radio" id="excelium" name="product_line" value="excelium" onchange="radioButtonClicked(this)">
                        <label class="form-check-label" for="excelium">Excelium</label>
                    </div>
                    <div id="elevator-unit-price" class="form-group">
                        <label>Price of each unit: </label>
                        <input id="elevator-unit-price-1" class="form-control" readonly>
                    </div>
                    <div id="elevator-total-price" class="form-group">
                        <label>Price of all elevators: </label>
                        <input id="elevator-total-price-1" class="form-control" readonly>
                    </div>
                    <div id="installation_fees" class="form-group">
                        <label>Installation fees: </label>
                        <input name="installation_fees" class="form-control" readonly>
                    </div>
                    <div id="total_cost" class="form-group">
                        <label>Final Price: </label>
                        <input name="total_cost" class="form-control" readonly>
                    </div>
                        <input type="submit" class="btn btn-primary">
                </div>
                 
                
            </form>
            <hr class="m-0" />